
/*
	CSS Syntax
		selector{
			propertyA:  valueA;
			propertyB: valueB;
		}
*/


/*
	*-universal selector
*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*
	html selector-selects all the elements inside the html tags.
*/
html{
	scroll-behavior: smooth;	
}


/*
	body selector - selects the elements inside body tag
*/
body{
	background-color: deepskyblue;	
}

nav {
	background-color: ghostwhite;
}

a:hover{
	background-color: #b4d6de;
}

/*
	> - child selector
*/
nav>div{

	display: inline-block;
	float: right;
}

/*body>section>form>label{
	color: red;
}*/

/*TAG SELECTORS*/

h1{
	color: darkred !important;
	font-size: 2rem;
	text-align: center;
}

section{
	/*
		vh - viewport height; measure the height of the screen of the user
		100vh = 100% of the viewport height of the user's device
	*/
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5 rem;
}

ol{
	list-style-type: none;
}


/*ID SELECTORS
		#idName{
			property: value;
		}
*/

#zuitt-motto{
	letter-spacing: 5px;
	font-size: 30px;
}

/*CLASS SELECTOR*/

.offered-items{
	text-transform: uppercase;
}

/*ATTRIBUTE SELECTOR*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*ADJACENT SIBLING SELECTOR*/

h3 + #image{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*DESCENDANT SELECTORS*/

section li{
	color: #075966;
}

/*GENERAL SIBLING SELECTOR*/

h2~a{
	text-decoration: none;
}

form{
	color: rgb(0, 0, 128);
	text-align: center;
	background-color: wheat;
	border: 2px solid black;
	width: 25vw;
	/*vw - the measurement of the screen width of the user device from the left*/
	position: relative;
	left: 37.25%;
}

button{
	color: white;
	background-color: #CF0053;
	border: 0px;
	border-radius: 15px;
}
