

/* external styling to paragraph 3 */
.para3{
	color: yellow;
}


/*changed the font-family and font-size using the universal selector*/
* {
	font-family: "monaco", monospace;
	font-size: 20px;
}


/*change font-size of h1 tags using a type selector*/
h1 {
	font-size: 2rem;
}

/*Change the text to all uppercase letters for h2 tags using id selector*/
#learn	{
	text-transform: uppercase;
}

/*using class selector*/
.languages {
	background-color: greenyellow;
}

/*using attribute selector*/
li[id] {
	border: 2px solid green;
}

/*using adjacent sibling selector*/
img + ol {
	list-style-type: none;
}

/*using a descendane selector*/
body img {
	width: 100px;
	height: 100px;
	border-radius: 150px;
}

/*using generic sibling selector*/
ol~#footer {
	text-align: center;
}

/*using child selector*/
ol > .tools {
	letter-spacing: 5px;
}